body  {
  font-family: 'Open Sans';


}

header{
  
  background-color: white;
  color:white;
  background-image:url(../images/header_bg.jpg);
  background-size:cover;
  height: 600px;
  padding: 30px;
 

}

.testimonial{

background-color: white;
  color:white;
  background-image:url(../images/testimonial_bg.jpg);
  background-size:cover;
  margin: auto 0;
  height: 200px;

}

h1{
    font-size: 48px;
    padding-left: 30px;
    font-weight: 600;
    }

h2{
    font-size: 40px;
    padding-top: 100px;
    font-weight: 400;
    text-align: center;
    }

.topbutton{

  background-color:#f9e42e;
  height: 60px;
  width: 200px;
  border-radius: 5px;
  border: none;
  color: black;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}


.benefits{

background-color: #f0efef;
padding-left: 30px;
font-size: 18px;
font-weight: 400;
padding: 40px;

}

h3  {

  color: #033048;
  font-size: 24px;
  font-weight: 400;
}

li {

  line-height: 1.8;
}